.ltl-scroller-thumbs li {
    display: inline-block;
    width: 112px;
    height: 84px;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 0;
}

.ltl-scroller-thumbs li img {
    width: 112px;
}