.ltl-scroller-thumbs li {
    display: inline-block;
    width: 112px;
    height: 84px;
    overflow: hidden;
    padding-right: 4px;
}

.ltl-scroller-thumbs li img {
    max-width: 112px;
    max-height: 84px;
}